body{background-color: bisque;
color: blueviolet;}

article{background-color: blanchedalmond;
padding: 1.5rem;
border: 1px solid white
}

#titulo del blog{
    text-align: center;
    font-size: 3rem;
}

.resaltado{
    color: yellow;
}

nav>ul>li { 
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
}

#footer_blog {
    margin: 2rem;
}

.ilustracion {
    display: inline-block;
    border: 4px solid #FFFFFF
}

.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem; 
    font-style: italic;
}

#footer_blog{
    margin:2rem;
}

section{
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-auto-rows:auto;
    gap: 3rem;
}

section>header{
    grid-column: span 12;
}
section>main{
    grid-column: span 8;
}
section>aside{
    grid-column: span 4;
}
section>footer{
    grid-column: span 12;
}